@tailwind base;

@layer base{
    h1{
        font-size: 44px;
        line-height: 64px;
        font-weight: 700;
        color: theme('colors.text-01')
    }
}

@tailwind components;

@layer components{
    .btn-primary{
        @apply py-xs px-sm bg-brand-02 text-text-inverse font-bold rounded-md hover:bg-hover-primary focus:outline-none focus:ring-2 focus:ring-brand-01 focus:ring-opacity-75 dark:bg-brand-01 dark:text-text-01 dark:focus:ring-brand-02
    }
}

@tailwind utilities;
